In [16]:
import pandas as pd

In [26]:
data=pd.read_csv("reviews.csv")
data.head()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
0,2022-07-09 15:00:00,"Great music service, the audio is high quality...",5,2,NaN
1,2022-07-09 14:21:22,Please ignore previous negative rating. This a...,5,1,NaN
2,2022-07-09 13:27:32,"This pop-up ""Get the best Spotify experience o...",4,0,NaN
3,2022-07-09 13:26:45,Really buggy and terrible to use as of recently,1,1,NaN
4,2022-07-09 13:20:49,Dear Spotify why do I get songs that I didn't ...,1,1,NaN

In [27]:
data.columns

Index(['Time_submitted', 'Review', 'Rating', 'Total_thumbsup', 'Reply'], dtype='object')

In [28]:
data.tail()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
61589,2022-01-01 03:01:29,Even though it was communicated that lyrics fe...,1,6,NaN
61590,2022-01-01 02:13:40,"Use to be sooo good back when I had it, and wh...",1,0,NaN
61591,2022-01-01 01:02:29,This app would be good if not for it taking ov...,2,10,NaN
61592,2022-01-01 00:49:23,The app is good hard to navigate and won't jus...,2,1,NaN
61593,2022-01-01 00:19:09,Its good but sometimes it doesnt load the musi...,4,0,NaN

In [29]:
data.shape

(61594, 5)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61594 entries, 0 to 61593
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Time_submitted  61594 non-null  object
 1   Review          61594 non-null  object
 2   Rating          61594 non-null  int64
 3   Total_thumbsup  61594 non-null  int64
 4   Reply           216 non-null    object
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

In [31]:
data.describe()

             Rating  Total_thumbsup
count  61594.000000    61594.000000
mean       3.155989        7.649381
std        1.673285       89.323143
min        1.000000        0.000000
25%        1.000000        0.000000
50%        3.000000        0.000000
75%        5.000000        1.000000
max        5.000000     8195.000000

In [32]:
data=data.drop('Time_submitted',axis=1)
data

,Review,Rating,Total_thumbsup,Reply
0,"Great music service, the audio is high quality...",5,2,NaN
1,Please ignore previous negative rating. This a...,5,1,NaN
2,"This pop-up ""Get the best Spotify experience o...",4,0,NaN
3,Really buggy and terrible to use as of recently,1,1,NaN
4,Dear Spotify why do I get songs that I didn't ...,1,1,NaN
...,...,...,...,...
61589,Even though it was communicated that lyrics fe...,1,6,NaN
61590,"Use to be sooo good back when I had it, and wh...",1,0,NaN
61591,This app would be good if not for it taking ov...,2,10,NaN
61592,The app is good hard to navigate and won't jus...,2,1,NaN
61593,Its good but sometimes it doesnt load the musi...,4,0,NaN

In [33]:
data=data.drop('Total_thumbsup',axis=1)
data

                                                  Review  Rating Reply
0      Great music service, the audio is high quality...       5   NaN
1      Please ignore previous negative rating. This a...       5   NaN
2      This pop-up "Get the best Spotify experience o...       4   NaN
3        Really buggy and terrible to use as of recently       1   NaN
4      Dear Spotify why do I get songs that I didn't ...       1   NaN
...                                                  ...     ...   ...
61589  Even though it was communicated that lyrics fe...       1   NaN
61590  Use to be sooo good back when I had it, and wh...       1   NaN
61591  This app would be good if not for it taking ov...       2   NaN
61592  The app is good hard to navigate and won't jus...       2   NaN
61593  Its good but sometimes it doesnt load the musi...       4   NaN

[61594 rows x 3 columns]

In [34]:
data=data.drop('Reply',axis=1)
data

                                                  Review  Rating
0      Great music service, the audio is high quality...       5
1      Please ignore previous negative rating. This a...       5
2      This pop-up "Get the best Spotify experience o...       4
3        Really buggy and terrible to use as of recently       1
4      Dear Spotify why do I get songs that I didn't ...       1
...                                                  ...     ...
61589  Even though it was communicated that lyrics fe...       1
61590  Use to be sooo good back when I had it, and wh...       1
61591  This app would be good if not for it taking ov...       2
61592  The app is good hard to navigate and won't jus...       2
61593  Its good but sometimes it doesnt load the musi...       4

[61594 rows x 2 columns]

In [35]:
data.isna().sum()

Review    0
Rating    0
dtype: int64

In [37]:
data.duplicated().sum()

201

In [38]:
data.drop_duplicates(inplace=True)

In [39]:
data.duplicated().sum()

0

In [40]:
blanks=[]
for index in data['Review']:
    if index.isspace() == True:
        blanks.append(index)

In [41]:
print(blanks)

[]

In [43]:
data['Rating'].value_counts().sort_values()

3     6881
2     7114
4     7831
1    17617
5    21950
Name: Rating, dtype: int64

In [44]:
def rating(rating):
    if rating >= 3 and rating <= 5:
        return 'Positive'
    if rating > 0 and rating < 3:
        return 'Negative'

In [45]:
data['Positive/Negative'] = data['Rating'].apply(rating)

In [47]:
data

,Review,Rating,Positive/Negative
0,"Great music service, the audio is high quality...",5,Positive
1,Please ignore previous negative rating. This a...,5,Positive
2,"This pop-up ""Get the best Spotify experience o...",4,Positive
3,Really buggy and terrible to use as of recently,1,Negative
4,Dear Spotify why do I get songs that I didn't ...,1,Negative
...,...,...,...
61589,Even though it was communicated that lyrics fe...,1,Negative
61590,"Use to be sooo good back when I had it, and wh...",1,Negative
61591,This app would be good if not for it taking ov...,2,Negative
61592,The app is good hard to navigate and won't jus...,2,Negative
61593,Its good but sometimes it doesnt load the musi...,4,Positive

In [48]:
data['Positive/Negative'].value_counts()

Positive    36662
Negative    24731
Name: Positive/Negative, dtype: int64